html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* 
 * media queries 
 */

@media screen and ( min-width: 630px ) {
    ul.deck {
        padding: 32px;
    }
}

@media screen and ( min-width: 435px ) {
    .score-panel {
        width: 345px;
    }
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 90%;
    height: 90%;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 2.5%;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 1.25;
}

.deck .card {
    flex: 1 1 20%;
    height: 20%;
    width: 25%;
    margin: 1.25%;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transform: rotateY(0);
    transition-duration: 250ms;
}

.deck .card i {
    transform: rotateY(0);
}

.deck .card.open i {
    transform: rotateY(180deg);
}

.deck .card.open {
    transform: rotateY(180deg);
    transition-duration: 250ms;
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 1em;
    transition-duration: 0;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 1em;
}

.card .clickCover {
    position: absolute;
    background-size: cover;
    z-index: 1;
    width: 100%;
    height: 100%;
}

/*
 * Styles for the header
 */

header.heading {
    width: 100%;
    height: 5%;
    padding: .5em;
    background-color: #02ccba;
}

header h1 {
    width: 100%;
    height: 100%;
    font-size: 1em;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    width: 85%;
    height: 5%;
    font-size: .75em;
    margin-top: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .timer-container {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    background-color: #2e3d49;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.score-panel>.restart:hover {
    color: #999999;
}

/*
 *
 * Modal for instructions and end game
 *
 */

/*
 * Modal background cover
 */

.backCover {
    display: none;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(55, 55, 55, 0.8);
}

/*
 * Modal Header
 */

.modal-header {
    padding: 2px 16px;
    background-color: #51738f;
    color: white;
    display: flex;
    flex-direction: column-reverse;
}

.modal-header h2 {
    align-self: center;
}

/*
 * Modal Body
 */

.modal-body {
    padding: 2px 16px;
}

/*
 * Modal Footer
 */

.modal-footer {
    padding: 2px 16px;
    background-color: #51738f;
    color: white;
}

/*
 * Modal Content
 */

.modal-content {
    font-size: .9em;
    flex-flow: column wrap;
    text-align: center;
    display: none;
    position: relative;
    background-color: #fefefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.modal-footer:hover {
    cursor: pointer;
    background-color: #3d7caf;
}

/*
 * Keyframes
 */

@Keyframes animatetop {
    from {margin-top:-300px; opacity: 0}
    to {margin-top: 5%; opacity: 1}
}

